{% extends 'base.html.twig' %}

{% block title %}Remise{% endblock %}

{% block body %}
    <h1>Remise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdRemise</th>
                <td>{{ remise.idRemise }}</td>
            </tr>
            <tr>
                <th>CodePromo</th>
                <td>{{ remise.codePromo }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ remise.description }}</td>
            </tr>
            <tr>
                <th>PourcentageRemise</th>
                <td>{{ remise.pourcentageRemise }}</td>
            </tr>
            <tr>
                <th>DateExpiration</th>
                <td>{{ remise.dateExpiration }}</td>
            </tr>
            <tr>
                <th>IdReservation</th>
                <td>{{ remise.idReservation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_remise_index') }}">back to list</a>

    <a href="{{ path('app_remise_edit', {'idRemise': remise.idRemise}) }}">edit</a>

    {{ include('remise/_delete_form.html.twig') }}
{% endblock %}
