  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_home') }}" class="logo">
                        <h1>LAMMA</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <!-- ***** Menu Start ***** -->
<ul class="nav">
  <li><a href="{{ path('app_home') }}" class="active">Accueil</a></li>
  <li><a href="{{ path('app_event_index') }}">Évènements</a></li>
  <li><a href="{{ path('app_espace_index') }}">Espaces</a></li>
  <li><a href="{{ path('app_produit_index') }}">Produits</a></li>
  <li><a href="contact.html">Contact Us</a></li>

  {% if app.user %}
      <li>
        <a href="#" class="disabled" style="cursor: default;">
          👋 Bonjour, {{ app.user.nom }}
        </a>
      </li>
      <li>
        <a href="{{ path('app_logout') }}">
          <i class="fa fa-sign-out"></i> Déconnexion
        </a>
      </li>
  {% else %}
      <li>
        <a href="{{ path('app_login') }}">
          <i class="fa fa-user"></i> Connexion
        </a>
      </li>
  {% endif %}
</ul>



                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->