  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ path('app_home') }}" class="logo">
                        <h1>LAMMA</h1>
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                      <li><a href="{{ path('app_home') }}" class="active">Acceuil</a></li>
                      <li><a href="{{ path('app_event_index') }}">Évènements</a></li>
                      <li><a href="{{ path('app_billet_index') }}">Billets</a></li>
                      <li><a href="{{ path('app_espace_index') }}">Espaces</a></li>
                      <li><a href="{{ path('app_produit_index') }}">Produits</a></li>
                      <li><a href="contact.html">Contact Us</a></li>
                      <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
                  </ul>   
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->