<!-- Header Principal -->
<div class="app-header header-shadow">
    
    <!-- Logo et Bouton Sidebar -->
    <div class="app-header__logo">
        <div class="logo-src"></div>
        <div class="header__pane ml-auto">
            <button type="button" 
                    class="hamburger close-sidebar-btn hamburger--elastic" 
                    data-class="closed-sidebar">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>

    <!-- Menu Mobile -->
    <div class="app-header__mobile-menu">
        <button type="button" 
                class="hamburger hamburger--elastic mobile-toggle-nav">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>

    <!-- Menu Desktop -->
    <div class="app-header__menu">
        <button type="button" 
                class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
            <span class="btn-icon-wrapper">
                <i class="fa fa-ellipsis-v fa-w-6"></i>
            </span>
        </button>
    </div>

    <!-- Contenu Header -->
    <div class="app-header__content">
        
        <!-- Partie Gauche (vide) -->
        <div class="app-header-left">
            <!-- Espace pour éléments supplémentaires -->
        </div>

        <!-- Partie Droite - Profil Utilisateur -->
        <div class="app-header-right">
            <div class="header-btn-lg pr-0">
                <div class="widget-content p-0">
                    <div class="widget-content-wrapper">
                        
                        <!-- Avatar Utilisateur -->
                        <div class="widget-content-left">
                            <div class="btn-group">
                                <a data-toggle="dropdown" 
                                   aria-haspopup="true" 
                                   aria-expanded="false" 
                                   class="p-0 btn">
                                    {% if app.user.profileImage %}
                                        <img width="42" 
                                             class="rounded-circle" 
                                             src="{{ asset('uploads/' ~ app.user.profileImage) }}" 
                                             alt="Photo de profil">
                                    {% else %}
                                        <img width="42" 
                                             class="rounded-circle" 
                                             src="{{ asset('assets/images/avatars/default.png') }}" 
                                             alt="Avatar par défaut">
                                    {% endif %}
                                    <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                </a>
                                <div tabindex="-1" 
                                     role="menu" 
                                     aria-hidden="true" 
                                     class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{{ path('profile') }}">
                                        <i class="fa fa-user mr-2"></i>Mon Profil
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('app_logout') }}">
                                        <i class="fa fa-sign-out mr-2"></i>Déconnexion
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- Infos Utilisateur -->
                        <div class="widget-content-left ml-3 header-user-info">
                            <div class="widget-heading">
                                {{ app.user ? app.user.nom ~ ' ' ~ app.user.prenom : 'Utilisateur' }}
                            </div>
                            <div class="widget-subheading">
                                {% if app.user %}
                                    {{ 'ROLE_ADMIN' in app.user.roles ? 'Administrateur' : 'Utilisateur' }}
                                {% else %}
                                    Non connecté
                                {% endif %}
                            </div>
                        </div>

                        <!-- Bouton Calendrier -->
                        <div class="widget-content-right header-user-info ml-3">
                            <button type="button" 
                                    class="btn-shadow p-1 btn btn-primary btn-sm">
                                <i class="fa text-white fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Paramètres du Thème -->
<div class="ui-theme-settings">
    <button type="button" 
            id="TooltipDemo" 
            class="btn-open-options btn btn-warning">
        <i class="fa fa-cog fa-w-16 fa-spin fa-2x"></i>
    </button>
    
    <div class="theme-settings__inner">
        <div class="scrollbar-container">
            <div class="theme-settings__options-wrapper">
                
                <!-- Options de Layout -->
                <div class="theme-option-section">
                    <h3 class="themeoptions-heading">Layout Options</h3>
                    <div class="p-3">
                        <ul class="list-group">
                            
                            <!-- Fixed Header -->
                            <li class="list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="switch has-switch switch-container-class" 
                                                 data-class="fixed-header">
                                                <div class="switch-animate switch-on">
                                                    <input type="checkbox" 
                                                           checked 
                                                           data-toggle="toggle" 
                                                           data-onstyle="success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Fixed Header</div>
                                            <div class="widget-subheading">
                                                Header fixé en haut de page
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <!-- Fixed Sidebar -->
                            <li class="list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="switch has-switch switch-container-class" 
                                                 data-class="fixed-sidebar">
                                                <div class="switch-animate switch-on">
                                                    <input type="checkbox" 
                                                           checked 
                                                           data-toggle="toggle" 
                                                           data-onstyle="success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Fixed Sidebar</div>
                                            <div class="widget-subheading">
                                                Sidebar fixée à gauche
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            
                            <!-- Fixed Footer -->
                            <li class="list-group-item">
                                <div class="widget-content p-0">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left mr-3">
                                            <div class="switch has-switch switch-container-class" 
                                                 data-class="fixed-footer">
                                                <div class="switch-animate switch-off">
                                                    <input type="checkbox" 
                                                           data-toggle="toggle" 
                                                           data-onstyle="success">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Fixed Footer</div>
                                            <div class="widget-subheading">
                                                Footer fixé en bas de page
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- Options du Header -->
                <div class="theme-option-section">
                    <div class="themeoptions-heading d-flex justify-content-between align-items-center">
                        <h3>Header Options</h3>
                        <button type="button"
                                class="btn-pill btn-shadow btn-wide btn btn-focus btn-sm switch-header-cs-class"
                                data-class="">
                            Réinitialiser
                        </button>
                    </div>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="pb-2">Couleurs du Header</h5>
                                <div class="theme-settings-swatches">
                                    <!-- Couleurs de base -->
                                    <div class="swatch-holder bg-primary switch-header-cs-class"
                                         data-class="bg-primary header-text-light"></div>
                                    <div class="swatch-holder bg-secondary switch-header-cs-class"
                                         data-class="bg-secondary header-text-light"></div>
                                    <!-- Ajouter les autres couleurs ici -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- Options du Sidebar -->
                <div class="theme-option-section">
                    <div class="themeoptions-heading d-flex justify-content-between align-items-center">
                        <h3>Sidebar Options</h3>
                        <button type="button"
                                class="btn-pill btn-shadow btn-wide btn btn-focus btn-sm switch-sidebar-cs-class"
                                data-class="">
                            Réinitialiser
                        </button>
                    </div>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="pb-2">Couleurs du Sidebar</h5>
                                <div class="theme-settings-swatches">
                                    <!-- Couleurs de base -->
                                    <div class="swatch-holder bg-primary switch-sidebar-cs-class"
                                         data-class="bg-primary sidebar-text-light"></div>
                                    <div class="swatch-holder bg-secondary switch-sidebar-cs-class"
                                         data-class="bg-secondary sidebar-text-light"></div>
                                    <!-- Ajouter les autres couleurs ici -->
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <!-- Options du Contenu Principal -->
                <div class="theme-option-section">
                    <div class="themeoptions-heading d-flex justify-content-between align-items-center">
                        <h3>Main Content Options</h3>
                        <button type="button"
                                class="btn-pill btn-shadow btn-wide btn btn-focus btn-sm">
                            Réinitialiser
                        </button>
                    </div>
                    <div class="p-3">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h5 class="pb-2">Style des Onglets</h5>
                                <div class="theme-settings-swatches">
                                    <div role="group" class="mt-2 btn-group">
                                        <button type="button"
                                                class="btn-wide btn-shadow btn-primary btn btn-secondary switch-theme-class"
                                                data-class="body-tabs-line">
                                            Ligne
                                        </button>
                                        <button type="button"
                                                class="btn-wide btn-shadow btn-primary active btn btn-secondary switch-theme-class"
                                                data-class="body-tabs-shadow">
                                            Ombre
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>