{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdProduit</th>
                <td>{{ produit.idProduit }}</td>
            </tr>
            <tr>
                <th>NomProduit</th>
                <td>{{ produit.nomProduit }}</td>
            </tr>
            <tr>
                <th>PrixProduit</th>
                <td>{{ produit.prixProduit }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ produit.categorie }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ produit.quantite }}</td>
            </tr>
            <tr>
                <th>ImagePath</th>
                <td>{{ produit.imagePath }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'idProduit': produit.idProduit}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
{% endblock %}
