<!DOCTYPE html>
<html lang="en">
    {% include 'partials/head.html.twig' %}

    <body>
        {% include 'partials/header.html.twig' %}




        
        <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>

        <script src="{{ asset('assets/js/isotope.min.js') }}"></script>
        <script src="{{ asset('assets/js/owl-carousel.js') }}"></script>
        <script src="{{ asset('assets/js/counter.js') }}"></script>
        <script src="{{ asset('assets/js/custom.js') }}"></script>
        {% block body %}
        {%include 'partials/indexBody.html.twig'%}

        {% endblock %}
        {% include 'partials/footer.html.twig' %}
    </body>
</html>
