{% extends 'base.html.twig' %}

{% block title %}Liste des Espaces{% endblock %}

{% block body %}
  <div class="properties section">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 offset-lg-4">
          <div class="section-heading text-center">
            <h6>| Espaces</h6>
            <h2>Découvrez Nos Espaces Disponibles</h2>
          </div>
        </div>
      </div>

      <div class="row">
        {% for espace in espaces %}
          <div class="col-lg-4 col-md-6 mb-4">
            <div class="item">
              <a href="{{ path('app_espace_show', {'idEspace': espace.idEspace}) }}">
                <img src="{{ asset('uploads/images/' ~ espace.image) }}" alt="{{ espace.nomEspace }}">
              </a>
              <span class="category">{{ espace.Type_espace }}</span>
              <h6>{{ espace.prix }} DT</h6>
              <h4>
                <a href="{{ path('app_espace_show', {'idEspace': espace.idEspace}) }}">
                  {{ espace.nomEspace }}
                </a>
              </h4>
              <ul>
                <li>Adresse: <span>{{ espace.adresse }}</span></li>
                <li>Capacité: <span>{{ espace.capacite }}</span></li>
                <li>Disponibilité: <span>{{ espace.disponibilite }}</span></li>
              </ul>
              <div class="main-button">
                <a href="{{ path('app_espace_show', {'idEspace': espace.idEspace}) }}">
                  Voir Détails
                </a>
              </div>
            </div>
          </div>
        {% else %}
          <div class="col-12 text-center">
            <p>Aucun espace trouvé.</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
